* {
  font-family: 'IBM Plex Sans';
  box-sizing: border-box;
  outline: 0;
}

html {
  width: 340px;
}

body {
  width: 324px;
}

body,
html {
  background: #1a2432;
  color: #fff;
  line-height: 1.15;
  text-size-adjust: 100%;
}

div {
  display: block;
}

a {
  text-decoration: none;
}

input {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

input {
  overflow: visible;
}

input {
  writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: fieldtext;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  background-color: field;
  margin: 0;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(#767676, #858585);
  border-image: initial;
}

.text_input {
  background-color: transparent;
  padding: 8px 8px 8px 16px;
  color: #fff;
  outline: 0;
  border: none;
  width: 100%;
  font-size: 14px;
}

.text_input.small {
  width: 30%;
}

.text_input.text_right {
  text-align: right;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  appearance: textfield;
  -moz-appearance: textfield;
}

::-webkit-scrollbar {
  width: 6px;
  right: 2px;
  bottom: 2px;
  top: 2px;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: 0 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
}

.header {
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  place-content: space-between;
  font-weight: 400;
}

.header_label_container {
  box-sizing: border-box;
  margin-right: 0;
  display: flex;
  flex: 1 1 0%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.header_label {
  box-sizing: border-box;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  color: #fff;
}

.bbflex {
  box-sizing: border-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}

.scrolling_container {
  box-sizing: border-box;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
  padding-bottom: 16px;
}

.settings_item_container {
  box-sizing: border-box;
  margin-bottom: 8px;
  border: 1px solid rgba(255, 255, 255, 0.08);
  border-radius: 8px;
  box-sizing: border-box;
}

.settings_item {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.08);
  min-height: 48px;
  padding: 14px 16px 0;
  border-radius: 8px;
}

.settings_item > div {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
}

.settings_item_label {
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding-left: 16px;
  height: 20px;
  -webkit-box-align: center;
  align-items: center;
}

.settings_toggle {
  height: 20px;
  max-width: 36px;
  min-width: 36px;
  border-radius: 10px;
  padding: 2px;
  transition: background-color 0.3s ease 0s;
  opacity: 1;
  cursor: pointer;
}

.settings_toggle > div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  transform: translate(16px);
  transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
}

.settings_toggle.on {
  background-color: #006aff;
}

.settings_toggle.off {
  background-color: #fff;
}

.settings_toggle.on > div {
  background-color: #fff;
  transform: translate(16px);
}

.settings_toggle.off > div {
  background-color: #020d1c;
  transform: translate(0);
}

.settings_description_container {
  padding: 10px 16px 8px;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.settings_description {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  display: flex;
  flex-direction: row;
  padding: 8px;
  margin-top: 8px;
  font-size: 10px;
}

.footer * {
  color: rgba(255, 255, 255, 0.8);
}

.footer > :nth-child(1) {
  flex-grow: 1;
}
